<div class="page-header">
    <h1 mat-dialog-title *ngIf="id > 0"><i class="fa fa-cubes page-header-icon"></i>Edit Product Tag</h1>
    <h1 mat-dialog-title *ngIf="id == 'new'"><i class="fa fa-cubes page-header-icon"></i>Add Product Tag</h1>
</div>
<section class="container-fluid with-maxwidth chapter" *ngIf="record">
    <article class="article">
        <div class="box box-default">
            <form *ngIf="tagForm" [formGroup]="tagForm">                   
                <div class="col-xs-12 col-md-12">
                    <div class="row m-t-4 m-b-2">
                        <div class="col-xs-12 col-md-12">
                            <mat-slide-toggle formControlName="enabled" [(ngModel)]="record.enabled"
                                color="primary">Enabled</mat-slide-toggle>
                        </div>                 
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p>
                                <mat-form-field appearance="standard">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" [(ngModel)]="record.name"
                                        placeholder="">
                                    <mat-error *ngIf="tagForm.get('name').hasError('server_validation')">
                                        {{ tagForm.get('name').getError('server_validation') }}</mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <p>
                                <mat-form-field class="full-width">
                                    <mat-label>Zone</mat-label>
                                    <mat-select placeholder="Zone" formControlName="zone" [(ngModel)]="record.zone">
                                        <mat-option *ngFor="let item of zones" [value]="item.id">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="tagForm.get('zone').hasError('server_validation')">{{ tagForm.get('zone').getError('server_validation') }}</mat-error>
                                </mat-form-field>
                                <span class="text-muted font-italic" style="display:block;">Hint: If applicable to all zones, leave empty</span>
                            </p>
                        </div>                                   
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p>
                               <mat-form-field appearance="standard">
                                  <mat-label>Start Date</mat-label>
                                  <input matInput [matDatepicker]="myDatepicker1" formControlName="start_date" [(ngModel)]="record.start_date" readonly>
                                  <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                                  <mat-datepicker #myDatepicker1></mat-datepicker>                                                                                        
                                  <mat-error
                                        *ngIf="tagForm.get('start_date').hasError('server_validation')">
                                        {{ tagForm.get('start_date').getError('server_validation') }}
                                    </mat-error>
                                </mat-form-field>
                                <button (click)="reset('start_date')" mat-raised-button color="basic" [ngStyle]="{'visibility': record.start_date ? 'visible' : 'hidden' }" style="float: right;"><i class="px-nav-icon fa fa-close" style="position: relative; top: -2px;"></i> Clear</button>
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                           <p>
                                <mat-form-field appearance="standard">
                                  <mat-label>End Date</mat-label>
                                  <input matInput [matDatepicker]="myDatepicker2" formControlName="end_date" [(ngModel)]="record.end_date" readonly>
                                  <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                                  <mat-datepicker #myDatepicker2></mat-datepicker>
                                  <mat-error
                                        *ngIf="tagForm.get('end_date').hasError('server_validation')">
                                        {{ tagForm.get('end_date').getError('server_validation') }}
                                    </mat-error>
                                </mat-form-field>
                                <button (click)="reset('end_date')" mat-raised-button color="basic" [ngStyle]="{'visibility': record.end_date ? 'visible' : 'hidden' }" style="float: right;"><i class="px-nav-icon fa fa-close" style="position: relative; top: -2px;"></i> Clear</button>
                            </p>
                        </div>
                    </div>                                                   
                    <div class="row">
                        <div class="col-xs-12 col-md-6" *ngIf="1==0">
                            <div class="mat-form-field-infix">
                                    <textarea formControlName="desc" rows="3" cols="30" [(ngModel)]="record.desc"
                                        placeholder="" class="textarea" style="height:180px;"></textarea>
                                    <span class="mat-form-field-label-wrapper"><label
                                            class="mat-form-field-label">Description</label></span>
                                    <mat-error *ngIf="tagForm.get('desc').hasError('server_validation')">
                                        {{ tagForm.get('desc').getError('server_validation') }}</mat-error>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <mat-label>Products</mat-label>
                            <autocomplete [lookup_endpoint]="products_lookup_endpoint" 
                                [selected_ids]="record.product_ids"></autocomplete>
                        </div>                                                 
                    </div>
                </div>       
            </form>

            <button type="button" mat-raised-button color="warn" class="btn-w-md pull-right" (click)="cancel()"
                style="margin:10px">
                Cancel
            </button>
            <button type="button" mat-raised-button color="primary" class="btn-w-md pull-right" (click)="save()" [disabled]="alertService.networkActivity" style="margin:10px">
                Save
            </button>
        </div>
    </article>
</section>
