<div *ngIf="isDataLoaded">
        <h2 mat-dialog-title *ngIf="record.id">Edit Media</h2>
        <h2 mat-dialog-title *ngIf="!record.id">Add Media</h2>
        <form *ngIf="mediaForm" [formGroup]="mediaForm">
            <mat-dialog-content>
                <div class="col-xs-12 col-md-12">
                    <div class="row m-t-4 m-b-2">
                        <div class="col-xs-12 col-md-6">
                            <mat-slide-toggle formControlName="enabled" [(ngModel)]="record.enabled" color="primary">Enabled</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="row col-xs-12 col-md-12">
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Media Type</mat-label>
                                <mat-select required placeholder="Media Type" formControlName="media_type" [(ngModel)]="record.media_type">
                                    <mat-option *ngFor="let type of media_types" [value]="type.id">
                                        {{ type.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="mediaForm.get('media_type').hasError('server_validation')">{{ mediaForm.get('media_type').getError('server_validation') }}</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p>
                                <mat-form-field appearance="standard">
                                    <mat-label>Caption</mat-label>
                                    <input matInput formControlName="caption" [(ngModel)]="record.caption" placeholder="Caption">
                                    <mat-error *ngIf="mediaForm.get('caption').hasError('server_validation')">{{ mediaForm.get('caption').getError('server_validation') }}</mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6" [ngClass]="{'hidden': record.media_type != 'video'}">
                            <p>
                                <mat-form-field appearance="standard">
                                    <mat-label>Video ID</mat-label>
                                    <input matInput formControlName="video_id" [(ngModel)]="record.video_id" placeholder="Video ID">
                                    <mat-error *ngIf="mediaForm.get('video_id').hasError('server_validation')">{{ mediaForm.get('video_id').getError('server_validation') }}</mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="row col-xs-12 col-md-12">
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Url</mat-label>
                                <input id="url" matInput formControlName="url" [(ngModel)]="record.url">
                                <mat-error *ngIf="mediaForm.get('url').hasError('server_validation')">{{ mediaForm.get('url').getError('server_validation') }}</mat-error>
                            </mat-form-field>
                            <a (click)="loadFileManager($event)" class="img-preview">
                                <img *ngIf="record.url" 
                                    [src]="record.url" 
                                    data-urlfield="url"/>
                                <!-- <span *ngIf="!record.url" -->
                                <!--     data&#45;urlfield="url">Choose an Image -->
                                <!-- </span> -->
                            </a>
                        </p>
                    </div>
                    <div class="row col-xs-12 col-md-6">
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Order</mat-label>
                                <mat-select required placeholder="Order" formControlName="order" [(ngModel)]="record.order">
                                    <mat-option *ngFor="let num of order_ranges" [value]="num">
                                        {{ num }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="mediaForm.get('order').hasError('server_validation')">{{ mediaForm.get('order').getError('server_validation') }}</mat-error>
                            </mat-form-field>
                        </p>
                    </div>  
                </div>
            </mat-dialog-content>
            <mat-dialog-actions class="pull-right">
                <button type="button" mat-raised-button color="primary" class="btn-w-md" (click)="save()" [disabled]="alertService.networkActivity" style="margin:10px">
                    Save
                </button>
                <button type="button" mat-raised-button mat-dialog-close color="warn" class="btn-w-md" style="margin:10px">
                    Cancel
                </button>
            </mat-dialog-actions>                    
        </form>
    </div>
