<div *ngIf="record">
    <div class="page-header">
        <h1 mat-dialog-title><i class="fa fa-cubes page-header-icon"></i>Update Password</h1>
    </div>
    <section class="container-fluid with-maxwidth chapter">
        <article class="article">
            <div class="box box-default">
                <form *ngIf="resetForm" [formGroup]="resetForm">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p>
                                    <mat-form-field appearance="standard">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email">
                                        <mat-error *ngIf="resetForm.get('email').hasError('server_validation')">
                                            {{ resetForm.get('email').getError('server_validation') }}</mat-error>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p>
                                    <mat-form-field>
                                        <mat-label>Password</mat-label>
                                        <input matInput formControlName="password" [type]="'password'">
                                        <mat-error *ngIf="resetForm.get('password').hasError('server_validation')">
                                            {{ resetForm.get('password').getError('server_validation') }}</mat-error>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p>
                                    <mat-form-field>
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput formControlName="password_confirmation" [type]="'password'">
                                        <mat-error *ngIf="resetForm.get('password_confirmation').hasError('server_validation')">
                                            {{ resetForm.get('password_confirmation').getError('server_validation') }}</mat-error>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" mat-raised-button color="primary" class="btn-w-md pull-right" (click)="submit()" [disabled]="alertService.networkActivity" style="margin:10px">
                    Submit
                </button>
            </div>
        </article>
    </section>
</div>