
<mat-card>
    <mat-card-title>Pool Media</mat-card-title>
    <mat-card-content>
        <button type="button" mat-raised-button color="primary" class="btn-w-md pull-right" (click)="openDialog(0)" style="margin:10px">
            Add
        </button>
        <table datatable [dtOptions]="dtOptions" class="row-border dataTable" width="100%">
            <thead>
                <tr>
                <th>Caption</th>
                <th>Media Type</th>
                <th>Enabled</th>
                <th>Order</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>ID</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records">
                    <td>{{ record.caption }}</td>
                    <td>{{ record.media_type_name }}</td>
                    <td>{{ record.enabled }}</td>
                    <td>{{ record.order }}</td>
                    <td>{{ fromUtc(record.created_at) | date }}</td>
                    <td>{{ fromUtc(record.updated_at) | date }}</td>
                    <td>{{ record.id }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>